API_ID=25547055
API_HASH=f75d5ba7348bf1297eefd0a7a3b342fb
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxYZ
MONGO_DB_URI=mongodb+srv://user:pass@cluster0.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=8742583469
LOGGER_ID=-1001234567890
RENDER_DEPLOY=True
RENDER_EXTERNAL_URL=http://localhost:8080
